<style>
    /* footer { */
    /* clear: both; */
    /* display: flex; */
    /* align-items: flex-end; */
    /* flex-direction: column; */
    /* position: relative; */



    /* height: 1vh; */
    /* height: 400px; */
    /* min-height: 50px; */
    /* margin: 0; */

    /* } */

    footer {
        /* position: absolute; */
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-items: center;
        /* height: 50px; */
    }

    /* footer:hover {
        opacity: 0.1;
    } */

    #foot {
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        /* align-items: flex-end; */

        /* background-color: black; */
        color: burlywood;
        font-size: large;
        height: 9vh;
        width: 100%;
        font-family: 'Times New Roman', Times, serif;
    }

    #foot:hover {
        color: burlywood;
    }

    #foot a {
        text-decoration: none;
        font-family: 'Times New Roman', Times, serif;
        padding: 0rem 2rem;
        color: burlywood;
        font-weight: bold;
    }

    #foot a:hover {
        color: burlywood;
    }
</style>

<footer>
    <div id="foot">
        Created by:<a href="https://www.linkedin.com/in/himanshugupta64/" target="_blank">Himanshu Gupta</a>
    </div>
</footer>