<style>
    /* Navigation Bar */
    #navbar {
        display: flex;
        align-items: center;
        justify-items: center;
        justify-content: center;
        background-color: black;
        border-radius: 0px;
        font-size: 18px;
        padding: 4px 0px;
        position: relative;
    }

    /* Navigation Bar: Logo and Image */
    #logo {
        display: flex;
        margin: 10px 0px;
        font-family: 'Ubuntu', sans-serif;
        font-size: 2rem;
        text-decoration: none;

    }


    #navbar #logo a {
        display: block;
        padding: 3px 0px;

        text-decoration: none;
        color: burlywood;
        font-family: 'Ubuntu', sans-serif;
        /* font-family: 'Times New Roman', Times, serif; */

    }

    #navbar #logo a:hover {
        text-decoration: none;
        color: burlywood;
        /* background-color: white; */
    }

    #navbar #logo #subject {
        color: burlywood;
        font-size: 1rem;
    }

    #navbar #logo #subject:hover {
        color: blanchedalmond;
        font-size: 1rem;
    }
</style>
<header>
    <nav id="navbar">
        <!-- <a class="navbar-brand" href="/">Gulzari</a> -->

        <div id="logo"><a href="/">Gulzari</a>
            <div id="subject">GK</div>
        </div>


    </nav>
</header>