<header>
    <nav id="navbar">
        <!-- <a class="navbar-brand" href="/">Gulzari</a> -->

        <div id="logo"><a href="/">Gulzari</a>
            <div id="subject">GK</div>
        </div>

        <ul class="navbar-ul">
            <span>
                <li class="item"><a href="/">Home</a> </li>
                <li class="item"><a href="/testTaker/tests">Tests</a></li>
                <li class="item"><a href="/testTaker/solutions">Notes</a></li>
                <% if (loggedIn) { %>
                    <li class="item"> <a href="/catalog/test/create">Create</a></li>
                    <li class="item"> <a href="/catalog/tests">Admin Tests</a></li>
                    <li class="item"> <a href="/auth/logout">Log out</a></li>
                    <% } %>
                        <% if(!loggedIn) { %>


                            <li class="item"> <a href="/auth/login"> Admin Login</a></li>

                            <li class="nav-item"><a class="nav-link" href="/auth/register"> New User </a></li>
                            <% } %>
            </span>
        </ul>
    </nav>
</header>